.card-dimension {
  position: relative;
  top: 50px;
  bottom: 0;
  width: 50%;
  background-color: white;
  min-height: 70vh;
  border-width: 2;
  padding: 2%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.input-style {
  border-width: 0;
  width: 90%;
  outline-width: 0;
}

.item-container {
  background-color: blue;
}

*::-webkit-input-placeholder {
  color: rgb(165, 176, 246);
  height: 100;
  width: 100;
}

@media only screen and (max-device-width: 455px) {
  .card-dimension {
    width: 90%;
    background-color: white;
    min-height: 100vh;
    border-width: 2;
    padding: 2%;
  }
}
