.card-dimension {
  background-color: white;
  border-width: 2;
  bottom: 0;
  min-height: 70vh;
  padding: 2%;
  position: relative;
  top: 50px;
  width: 40%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.input-style {
  border-width: 0;
  outline-width: 0;
  width: 90%;
}

.item-container {
  background-color: blue;
}

.hashtag-container {
  display: "flex";
  flex-direction: "row";
  flex-wrap: "wrap";
  margin-top: 1%;
  justify-content: "normal";
}

.list-item-container {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

*::-webkit-input-placeholder {
  color: rgb(165, 176, 246);
  height: 100;
  width: 100;
}

@media only screen and (max-device-width: 455px) {
  .card-dimension {
    background-color: white;
    border-width: 2;
    min-height: 100vh;
    padding: 2%;
    width: 90%;
  }
}
