.root-container {
  height: 100vw;
  width: "100%";
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
}

.price-range-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.details-style {
  min-height: 220;
  display: flex;
}

.button-container-style {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20;
}

.plan-select-btn {
  flex: 1;
  padding-top: 1%;
  padding-bottom: 1%;
  /* margin-left: 5px; */
  background-color: white;
  color: rgb(243, 88, 62);
  border: 2px solid rgb(243, 88, 62);
  font-weight: 600;
}

button:hover {
  background-color: rgb(243, 88, 62);
  color: white;
}
